/* about.css */

#about {
    padding: 50px 0;
    background-color: #f9f9f9;
}

h2 {
    color: #333;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.team-member {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    flex-direction: column; /* Mettre les membres de l'équipe en colonne sur mobile */
}

.member-info {
    flex: 1;
    padding-right: 20px;
}

.member-info h3 {
    margin-bottom: 10px;
    color: #333;
}

.member-info p {
    margin-bottom: 20px;
    color: #666;
}

.member-image {
    width: 100%; /* Ajuster la largeur de l'image au contenu */
    max-width: 300px; /* Limiter la largeur de l'image */
    margin-top: 20px; /* Espacement entre l'image et les informations du membre */
}

.restaurant-description {
    margin-top: 40px;
}

.restaurant-description h3 {
    margin-bottom: 10px;
    color: #333;
}

.restaurant-description p {
    color: #666;
}

/* Médias queries pour rendre la section responsive */

@media screen and (max-width: 768px) {
    .member-info,
    .member-image {
        padding: 0; /* Supprimer le padding sur mobile */
        text-align: center; /* Centrer le contenu sur mobile */
    }

    .member-info p {
        margin-bottom: 10px; /* Réduire l'espacement entre les paragraphes sur mobile */
    }

    .team-member {
        margin-bottom: 20px; /* Réduire l'espacement entre les membres de l'équipe sur mobile */
    }
}
