/* contactForm.css */

#contact {
    background-color: #000000;
    padding: 50px 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.contact-info {
    display: flex;
    align-items: center;
    margin-right: 50px;
}

.contact-info .info h3 {
    font-size: 24px;
    margin-bottom: 15px;
}

.contact-info .info p {
    font-size: 16px;
    color: #ffffff;
}

form {
    max-width: 500px;
}

.form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.form-group label {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 200%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

textarea {
    height: 150px;
}

button[type="submit"] {
    background-color: #ffffff;
    color: #000000;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #ffcc00;
}
